---
import Card from "../components/Card.astro";
import Barra from "../components/Barra.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<Barra />
		<Card 
        nombre="Omar Alejandro" 
        puesto="Desarrollador Web" 
        descripcion="Apasionado por el desarrollo frontend y backend con Astro y MySQL." 
        imagen="https://cdn.britannica.com/28/215028-050-94E9EA1E/American-actor-Chris-Evans-2019.jpg"
      	/>

		
	</body>
</html>
